name: Build

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string

  workflow_call:
    inputs:
      version:
        required: true
        type: string


jobs:
  build:
    runs-on: windows-latest
    steps:

      - name: 签出代码
        uses: actions/checkout@main

      - name: 安装 UV
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/uv.lock

      - name: 安装依赖
        run: |
          uv sync --frozen
      
      - name: 构建程序
        run: |
          uv run python ./scripts/build.py --version ${{ inputs.version }}

      - name: 上传程序
        uses: actions/upload-artifact@main
        with:
          name: dsp_search_seed_${{ inputs.version }}
          path: |
            dist/*
